.button1
{
    -fx-background-color : #393351;
    -fx-background-radius :  30 0 0 30;
}
.button1:hover
{
    -fx-background-color : #524A7B ;
    -fx-background-radius :  30 0 0 30;
}
.button1:pressed
{
    -fx-background-color : #2F2B43 ;
    -fx-background-radius :  30 0 0 30;
}

.button2
{
    -fx-background-color : #393351;
    -fx-background-radius :  20;
}
.button2:hover
{
    -fx-background-color : #524A7B ;
    -fx-background-radius :  20;
}
.button2:pressed
{
    -fx-background-color : #2F2B43 ;
    -fx-background-radius :  20;
}

.button3
{
    -fx-background-color : #141124;
    -fx-background-radius :  0 0 0 0;
}
.button3:hover
{
    -fx-background-color : #524A7B ;
}
.button3:pressed
{
    -fx-background-color : #2F2B43 ;
}

.button4
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}
.button4:hover
{
    -fx-background-color :linear-gradient(to top left, #D4CEE3, #41951C);
    -fx-background-radius :  30 30 30 30;
}
.button4:pressed
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}


.combo-box
{
    -fx-background-color : #141124;
    -fx-border-color:  #141124;
    -fx-border-radius: 30;
    -fx-text-fill: white;

    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}
.combo-box:hover
{
    -fx-background-color : #141124;
    -fx-border-radius: 30;
}
.combo-box:pressed
{
    -fx-background-color : #141124;
    -fx-border-radius: 30;
}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}
.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
}
.text-field1 {
    -fx-opacity: 0.6; /* Initial opacity */
}

.text-field1:hover {
    -fx-opacity: .8; /* Opacity on hover */

    -fx-text-fill: Black; /* Set the text color to red when focused */
}



.button10
{
    -fx-background-color :  #b80303;

}
.button10:hover
{
    -fx-background-color : RED ;

}
.button11
{

    -fx-opacity: 1;


}
.button11:hover
{

    -fx-background-color : WHITE ;
    -fx-opacity: 0.3;


}


.anchorPane1 {

    -fx-opacity: 1; /* Set the default opacity */
}

.anchorPane1:hover {
    -fx-background-color: WHITE; /* Set the default background color */
    -fx-opacity: 0.3; /* Change opacity on hover */
}
.button12{

    -fx-background-color :  #e0e0e0;
;


}
.button12:hover
{

    -fx-background-color : VIOLET;
    -fx-opacity: 1;


}
.button13
{
    -fx-background-color :  VIOLET;
    fx-opacity: 0.2;

}

.button13:hover
{
    -fx-background-color : red ;
    -fx-opacity: .2;

}
.button14
{

    -fx-background-color : #905299;


}

.button14:hover
{
    -fx-background-color : purple ;
    -fx-opacity: .6;

}
.button15
{

    -fx-background-color : red;


}

.button15:hover
{
    -fx-background-color : red ;
    -fx-opacity: .6;

}

.button16
{

    -fx-background-color : violet;
    -fx-opacity: .5;

}

.button16:hover
{
    -fx-background-color : violet ;
    -fx-opacity: 1;


}








.table-viewB {
    -fx-background-color: transparent;
}

.table-viewB .column-header,
.table-viewB .column-header-background .filler {
    -fx-cell-size: 30;
    -fx-background-color: #633396;
    -fx-border-width: .3;
    -fx-border-color: #633396;
}

.table-viewB .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.table-viewB .cell {
    -fx-cell-size: 30;
    -fx-alignment: center;
    -fx-border-width: .3;
    -fx-border-color: #633396;
    -fx-text-fill: #000000;

    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-opacity: 1;
    -fx-background-color: #7B1FA2;
}

.table-row-cell:selected .cell {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

/* Scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-viewB .increment-button, .table-view .decrement-button {
    -fx-background-color: #4A148C; /* Darker Purple */
    -fx-background-radius: 2em;
}

/* The main scrollbar **track** CSS class */
.table-viewB .scroll-bar:horizontal .track,
.table-viewB .scroll-bar:vertical .track {
    -fx-background-color: #9575CD; /* Soft Purple */
    -fx-border-color: #4A148C; /* Darker Purple */
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-viewB .scroll-bar:horizontal .thumb,
.table-viewB .scroll-bar:vertical .thumb {
    -fx-background-color: #7B1FA2;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.table-viewB .table-row-cell:odd {
    -fx-background-color: #EDE7F6;
    -fx-opacity: .8;
}

/* Styling for even rows */
.table-viewB .table-row-cell:even {
    -fx-background-color: #D1C4E9;
    -fx-opacity: .8;
}
















































